<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Phone Number</th>
                <th>Email Id</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr>
                <td>{{username}}</td>
                <td>{{phoneno}}</td>
                <td>{{emailid}}</td>
                <td>{{gender}}</td>
            </tr>
            {{/data}}
        </tbody>

    </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-priamary">Save Changes</button>
    </div>
    <a href="./" style="color:black">BACK TO HOMEPAGE</a>
</body>
<script>$(".modal").modal("show")</script>
</html>